@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Creepster", system-ui;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/2150812450.webp");
}

.form {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 2vw;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.credit {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

.trakteer {
  width: fit-content;

  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  padding: 1vw 2vw 1vw 2vw;
  background-color: rgb(203, 0, 0);
  border-radius: 1vw;
  justify-items: center;
  align-items: center;
  gap: 1vw;
}

.trakteer p {
  font-size: 1vw;
  text-decoration: none;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

a {
  text-decoration: none;
}

.trakteer img {
  width: 2vw;
  height: 2vw;
  object-fit: contain;
  animation: bounce 2s infinite;
}

.credit h3 {
  margin: 5vw 0 1vw 0;
  font-size: 1.3vw;
}

.credit a {
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  text-decoration: underline white;
}

.card {
  text-align: center;
  width: 40vw;
  min-height: 20vw;
  padding: 2vw 5vw 2vw 5vw;
  /* From https://css.glass */
  background: rgba(42, 42, 42, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.input {
  justify-content: end;
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

input {
  background-image: url("./assets/grunge-paper-texture-background.webp");
  width: 100%;
  background-size: cover;
  height: 4vw;
  border: none;
  outline: none;
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  border-radius: 0.5vw;
}

button {
  font-size: 1.2vw;

  padding: 0 1vw 0 1vw;
  height: 4vw;
  border-radius: 0.4vw;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.64);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  outline: none;
  border: none;
  color: white;
}

button:hover {
  /* From https://css.glass */
  border-radius: 0.4vw;
  color: black;
  background: rgba(255, 255, 255, 0.64);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
}

img {
  width: 15vw;
  height: 15vw;
}

h1 {
  color: rgb(203, 0, 0);
  font-size: 4vw;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: rgb(203, 0, 0);
  font-size: 3vw;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5vw;
  color: rgb(203, 203, 203);
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Creepster", system-ui;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/2150812450.webp");
  }
  .card {
    width: 90vw;
    min-height: 70vw;
    padding: 4vw 5vw;
  }

  .input {
    justify-content: end;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 80vw;
  }

  form{
    margin-top: 20vw;
  }

  .credit {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }

  
  .trakteer {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    padding: 1vw 2vw 1vw 2vw;
    background-color: rgb(203, 0, 0);
    border-radius: 1vw;
    justify-items: center;
    align-items: center;
    gap: 1vw;
  }

  .trakteer p {
    font-size: 2vw;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  .trakteer img {
    width: 4vw;
    height: 4vw;
    object-fit: contain;
    animation: bounce 2s infinite;
  }

  .credit h3 {
    margin: 5vw 0 1vw 0;
    font-size: 2vw;
  }

  .credit a {
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    text-decoration: underline white;
  }

  input {
    height: 8vw;
    font-size: 3vw;
  }

  button {
    font-size: 3vw;
    height: 8vw;
  }

  img {
    width: 30vw;
    height: 30vw;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 3vw;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.4vw);
  }
  60% {
    transform: translateY(-0.6vw);
  }
}
